html, body{
    height: 100%;
    margin: 0px;
    font-family: 'Cabin', 'Montserrat', sans-serif;
}

button, input {
    font-family: 'Cabin', 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

core-header-panel {
    height: 100%;
    background-color: #fffffd;
}

core-toolbar {
    background-color: #c0d53f;
    text-shadow: 1px 1px 2px black;
}

#outterContainer {
    border-bottom: 1px solid black;
    width: 895px;
    margin-left: auto;
    margin-right: auto;

}

.homeBtn {
    display: block;
    width: 10em;
    height: 2em;
    margin-bottom: 15%;
    border-radius: 20px;
    background-color: #e0e0df;
    opacity: 0.6;
    border: 0px;
    font-size: 1.25em
}

.homeBtn:hover {
    border: 1px solid black;
    opacity: 1;
}